html, body {
    height: 100%;
    background-color: #14213d;
    color: #ffffff;
    font-family: tahoma;
}

header, footer {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1, h2, h3 {
	font-family: Cambria, Cochin, Georgia, serif;
	text-align: center;
	line-height: 0px;
}

#gen_nav {
    text-align: left;
}

#head {
    margin: 1em;
}

#logo {
    justify-content: center;
    width: 150px;
}

#userLinks {
    text-align: right;
    align-content: center;
}