html, body {
    background-color: #f1faee;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin-top: 0px;
    background-color: #1d3557;
	padding-top: 20px;
}
footer {
    background-color: #1d3557;
    color: #f1faee;
    text-align: center;
    margin-top:100px;
}

#gen_nav {
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
}

#main-head {
    display: inline;
    padding-left: 1em;
}

#logo {
    width: 200px;
}

#userLinks {
    text-align: right;
    position: relative;
    padding-right: 20px;
    
}

main {
    padding: 100px 100px;
}

a:link {
    color:#e63946;
}
a:visited {
    color: #ffb703;
}