<footer>
    <br>
    <nav id="footer-nav">
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
    </nav>
    <br>
    <p>
        © Kwongsong
    </p>
</footer>
</body>
</html>