<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Kwongsong Group - Homepage</title>
</head>

<body>
    <header>
        <div id="main-head">
            <a href="/"><img id="logo" src="/images/logo.png" alt="kwongsong logo"></a>
            <nav id="userLinks">
                <ul>
                    <li><a href="/connections/new">Start a New Connection</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </nav>
        </div>
        <hr>
        <nav id="gen_nav">
            <a href="/connections">Connections</a>
        </nav>
    </header>