<%- include('./partials/header.ejs')%>
    <main>
        <div id="main-div">
            <h2>
                About Kwongsong
            </h2>
            <p>
                The Kwongsong group is a place for UNC Charlotte students to meet with other students.
                You can participate or host events at any time and place you want. This is a great place
                to meet with new people and learn and grow!
            </p>
        </div>
        
    </main>

<%- include('./partials/footer.ejs')%>
