<%- include('./partials/header.ejs')%>
    <main>
        <div id="main-div">
            <h2>
                 Contact Us
            </h2>
            <p>
                Address: 265 Northsouth Trading Street, Suite 330, Charlotte, NC 28202 <br>
                Phone: 919-282-4242 <br>
                Email: jkwong@uncc.edu
            </p>
        </div>
        
    </main>

<%- include('./partials/footer.ejs')%>
