<%- include('./partials/header.ejs')%>
    <main>
        <div id="main-div">
            <h2>
                Welcome to the Kwongsong connections site!
            </h2>
            <p>
                The Kwongsong group is a place for UNC Charlotte students to meet with other students.
                Navigate to the Connections page to find an event to attend. You will find groups where you can 
                meet people with similar interests and goals. Whether it be studying, leisure or otherwise,
                we are sure you will find the perfect event for you!
            </p>
        </div>
        
    </main>

<%- include('./partials/footer.ejs')%>
